@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
  color:  #000000;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #E5E5E5;
}

:root {
  --mainBorderRadius: 8px;
  --mainBackGroundColor: #ffffff;
  --mainFontFamily: 'Mulish', sans-serif;
}

.app {
  position: relative;
  max-width: 1440px;
  width: 100%;
}

/* NAVIGATION START */

.app .container {
  width: 100%;
  height: auto;
} 

.navigation {
  width: 200px;
  height: 827px;
  background-color: var(--mainBackGroundColor);

}

.navigation nav {
  width: 100%;
  height: 100%;
}

nav ul li {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #00000021;
  font-family: var(--mainFontFamily);
  padding: 0 0 0 40px;

}

nav .support h3 {
  font-family: var(--mainFontFamily);
  color: #d9d7d7;
  padding: 20px 0 20px 20px;
}

nav .support a {
  display: block;
  font-family: var(--mainFontFamily);
  padding: 0 0 20px 60px;
}


/* NAVIGATION END */

/* SEARCH START */

.search {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
} 

/* LOGO START */

.search .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 238px;
  height: 100%;
  background-color: #ECECEC;
}

.logo .image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 104px;

}

.image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* LOGO END */

.search .searchArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%; 
  padding: 0 45px 0 45px;
  background-color: var(--mainBackGroundColor);
}


.searchArea .searchInput {
  display: flex;
  align-items: center;
  width: 225px;
  height: 36px;
  padding: 0 18px 0 18px;
  border-radius: 54px;
  box-sizing: content-box;
  background-color: #ECECEC;
}

.searchArea .searchIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 9px;
}

.searchInput input {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

/* USER CART START */

.searchArea .userContent {
  display: inline-flex;
  justify-content: space-between;
  width: 228px;
  height: 40px;
}

.userContent .userCartNotificationsIcons {
  display: flex;
  align-items: center;
}

.userContent .userCart {
  display:flex;
  align-items: center;
  justify-content: space-between;
  width: 190px;
  height: 100%;
  border-left: 1px solid #ECECEC;
}

.userCart .userCartUserName {
  display: flex;
  align-items: center;
  margin-left: 20px;
}


.userCart .userCartUserImage {
  width: 40px;
  height: 40px;
  border-radius: 99999px;
  background-color:red;
}

/* USER CART END */

/* SEARCH END */


/* DASHBOARD HEADER START */

.dashboardContainer {
  position: absolute;
  width: calc(100% - 200px);
  height: auto;
  right: 0%;
  top: 70px;
  padding: 24px 0 0 24px;
}

.dashboardHeader {
  display: inline-flex;
  align-items: center;
  gap: 25px;
  width: 100%;
  height: 225px;
}

.dashboardHeader .containerHero {
  display: inline-flex;
  width: 670px;
  height: 194px;
  padding: 12px;
  border-radius: var(--mainBorderRadius);
  background-color: #2BEBC8;
}

.containerHero .headerGif {
  width: 320px;
  height: 170px;
}

.headerGif img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.containerHero header {
  width: 320px;
  height: 201px;
  padding: 24px 0 0 24px;
}

header h1 {
  font-family: var(--mainFontFamily);
  font-size: 18px;
  font-weight: bolder;
}

header p {
  font-size: 12px;
  font-weight: 400;
  font-family: var(--mainFontFamily);
  line-height: 20px;
  padding-top: 15px;
}

.dashboardHeader .tinyBarChartContent {
  width: 400px;
  height: 225px;
  padding: 24px;
  border-radius: var(--mainBorderRadius);
  background-color: var(--mainBackGroundColor);
}

.tinyBarChartContent .tinyBarChart {
  width: 350px;
  height: 140px;
  margin-top: 15px;
}

/* SECOND DATA BOX START */

.dashboardContainer .dashboardSecondDataBox {
  display: inline-flex;
  align-items: center;
  margin-top: 25px;
  gap: 25px;
  width: 100%;
  height: auto;
}

.dashboardSecondDataBox .lineChartContent {
  display: inline-flex;
  width: 348px;
  height: 146px;
  gap: 8px;
  padding: 24px 24px 0 24px ;
  border-radius: var(--mainBorderRadius);
  background-color: var(--mainBackGroundColor);
}

.lineChartContent .lineChartInfo {
  width: 152px;
  height: 98px;
  background-color: red;
}

.lineChartContent .lineChart {
  width: 140px;
  height: 98px;
}

/* SECOND DATA BOX END */


.dashboardThirdDataBox {
  display: inline-flex;
  width: calc(100% - 31px);
  height: 358px;
  margin-top: 24px;
  gap: 24px;
}

.dashboardThirdDataBox .barChartContent {
  width: 720px;
  height: 358px;
  padding: 24px;
  border-radius: var(--mainBorderRadius);
  background-color: var(--mainBackGroundColor);
}

.barChartContent .barChart {
  width: 646px;
  height: 268px;
  margin: 20px 13px 0 13px;
}

/* DASHBOARD HEADER END */



.dashboardThirdDataBox .pieChartContent {
  width: 400px;
  height: 358px;
  padding: 24px;
  border-radius: var(--mainBorderRadius);
  background-color: var(--mainBackGroundColor);
}


.pieChartContent .pieChart {

  width: 285px;
  height: 272px;
  margin: 12px auto;
}