@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
  color:  #000000;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}

:root {
  --mainBorderRadius: 8px;
  --mainFontFamily: 'Mulish', sans-serif;
}

.app {
  position: relative;
  display: inline-flex;
  max-width: 1440px;
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-color: #F5F5F5;
}

/* NAVIGATION START */

.navigation {
  display: flex;
  flex-direction: column;
  width: 200px;
  min-height: 100vh;
  height: auto;
  background-color: #ffffff;

}

.navigation nav {
  width: 100%;
  height: auto;
}

nav ul li {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #00000021;
  font-family: var(--mainFontFamily);
  padding: 0 0 0 40px;

}

nav .support h3 {
  font-family: var(--mainFontFamily);
  color: #d9d7d7;
  padding: 20px 0 20px 20px;
}

nav .support a {
  display: block;
  font-family: var(--mainFontFamily);
  padding: 0 0 20px 60px;
}

/* LOGO START */

.navigation .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 70px;
  background-color: #ECECEC;
}

.logo .image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 104px;

}

.image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* LOGO END */

/* NAVIGATION END */

/* SEARCH START */

.search {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 72px; 
  padding: 0 48px 0 48px;
  background-color: #FFFFFF;
}

.search .searchInput {
  display: flex;
  align-items: center;
  width: 225px;
  height: 36px;
  padding: 0 18px 0 18px;
  border-radius: 54px;
  box-sizing: content-box;
  background-color: #ECECEC;
}

.search .searchIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 9px;
}

.searchInput input {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

/* USER CART START */

.search .userContent {
  display: inline-flex;
  justify-content: space-between;
  width: 228px;
  height: 40px;
}

.userContent .userCartNotificationsIcons {
  display: flex;
  align-items: center;
}

.userContent .userCart {
  display:flex;
  align-items: center;
  justify-content: space-between;
  width: 190px;
  height: 100%;
  border-left: 1px solid #ECECEC;
}

.userCart .userCartUserName {
  display: flex;
  align-items: center;
  margin-left: 20px;
}


.userCart .userCartUserImage {
  width: 40px;
  height: 40px;
  border-radius: 99999px;
  background-color:red;
}

/* USER CART END */

/* SEARCH END */


/* DASHBOARD HEADER START */

.dashboardContainer {
  position: absolute;
  width: calc(100% - 200px);
  height: auto;
  right: 0%;
  top: 70px;
  padding: 48px 0 0 10px;
}

.dashboardHeader {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 225px;
}

.dashboardHeader .containerHero {
  display: inline-flex;
  width: 740px;
  height: 194px;
  padding: 12px;
  border-radius: var(--mainBorderRadius);
  background-color: #2BEBC8;
}

.containerHero .headerGif {
  width: 348px;
  height: 170px;
}

.headerGif img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.containerHero header {
  width: 348px;
  height: 201px;
  padding: 24px;
}

header h1 {
  font-family: var(--mainFontFamily);
  font-size: 18px;
  font-weight: bolder;
}

header p {
  font-size: 12px;
  font-weight: 400;
  font-family: var(--mainFontFamily);
  line-height: 20px;
  padding-top: 15px;
}

.dashboardHeader .headerBarChart {
  width: 400px;
  height: 225px;
  padding: 24px;
  border-radius: var(--mainBorderRadius);
  background-color: white;
}

.headerBarChart .barChartContent {
  width: 350px;
  height: 140px;
  margin-top: 15px;
  background-color: black;
}

/* DASHBOARD HEADER END */

